{% extends 'ipams/base.html' %}
{% load crispy_forms_tags %}
{% block head %}
<style>
	.title-checkbox{
		margin-right:8px;
	}
</style>
{% endblock %}
{% block footer %}
	<script>
//-----------------------initializing datatables---------------------------------------------
		var recordsTbl;
		var accountsTbl;
		var filters = {
			"is_filtered": "{{ filters.is_filtered }}",
			"year_from": "{{ filters.year_from }}",
			"year_to": "{{ filters.year_to }}",
			"classification": "{{ filters.classification }}",
			"psced_classification": "{{ filters.psced_classification }}",
			"publication": "{{ filters.publication }}"
		}
		$(document).ready(function() {
		    recordsTbl = $('#tbl-records').DataTable({
		    	"ajax":	{
		    		"headers": { "X-CSRFToken": '{{ csrf_token }}' },
		    		"url": "{% url 'records-index' %}",
		    		"data": filters,
		    		"type": "post",
		    	},
		    	"scrollX": true,
		    	"responsive": true,
		    	"order": [[ 3, "desc" ], [ 2, "asc" ]],
				"select": {
        		    style: 'multi',
        		    selector: 'td:first-child'
        		},
        		"columnDefs": [
        		    {
        		        "targets": [ 1 ],
        		        "visible": false,
        		        "searchable": false
        		    },
        		    {
        		    	"targets": [0],
        		    	"orderable": false,
        		    	"width": 20,
        		    	"className": 'select-checkbox',
        		    	"targets": 0,
        		    	"visible": {% if user.role.id < 3 %} false {% else %} true {% endif %}
        		    },
        		],
		    });
		    $("#id_classification").val("{{ filters.classification }}");
		    $("#id_psced_classification").val("{{ filters.psced_classification }}");

{% if user.role.id > 2 %}
		    accountsTbl= $('#tbl-accounts').DataTable({
		    	"ajax":	{
		    		"headers": { "X-CSRFToken": '{{ csrf_token }}' },
		    		"url": "{% url 'accounts-get-all' %}",
		    		"type": "post",
		    	},
		    	"scrollX": true,
		    	"responsive": true,
		    	"order": [[ 1, "desc" ]],
				"select": {
        		    style: 'multi',
        		    selector: 'td:first-child'
        		},
        		"columnDefs": [
        		    {
        		        "targets": [ 1 ],
        		        "visible": false,
        		        "searchable": false
        		    },
        		    {
        		    	"targets": [0],
        		    	"width": 20,
        		    	"orderable": false,
        		    	"className": 'select-checkbox',
        		    	"targets": 0
        		    }
        		],
		    });
{% endif %}
		} );

//------------------------importing spreadsheet----------------------------------------------
		$("#btn-import").on("click", function(){
			if($("#file-import").get(0).files.length>0){
				Swal.fire({
				  title: 'Import Spreadsheet',
				  html: 'importing... ',
				  allowOutsideClick: false,
				  onBeforeOpen: () => {
				   	Swal.showLoading()
				   	$("#form-import").submit();
				  },
				});
			}
			else{
				Swal.fire({
				  type: 'warning',
				  title: 'No File Chosen',
				  showConfirmButton: true,
				})
			}
		});
//--------------------------removing selected rows--------------------------------------
		$("#btn-remove").on("click", function(){
			var titles = [];
			var rows = recordsTbl.rows({"selected":true});
            $.each(rows.data(), function () {
			    var row = this;
			    titles.push(row[1]);
			} );
            if(titles.length>0){
				Swal.fire({
				  title: 'Are you sure you want to delete the selected items?',
				  text: "You won't be able to revert this!",
				  type: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  confirmButtonText: 'Yes'
				}).then((result) => {
				  if (result.value) {
            		$.ajax({
            			headers: { "X-CSRFToken": '{{ csrf_token }}' },
            			url: "{% url 'records-index' %}",
            			type: "post",
						data: { "titles": titles, "remove": true },
						success: function(data){
							recordsTbl.ajax.reload();
							Swal.fire(
				    		  'Deleted!',
				    		  'The selected items have been deleted',
				    		  'success'
				    		)
						},
						error: function(data){
							alert("error");
						}
            		});
				  }
				})
			}
		});
//---------------------------------Graphs---------------------------------------------
		function initGraphs(){
			var appliedVsBasic;
			var noOfClassifications;
			var recordsPerYear;
			var classificationPerYear;
			$.ajax({
			    "headers": { "X-CSRFToken": '{{ csrf_token }}' },
			    "url": "{% url 'records-index' %}",
			    "type": "post",
			    "data": {"graphs": true},
			    "success": function(response){
			//-------------------------applied vs. basic------------------------------------
			    	data = [response.basic, response.applied];
			    	appliedVsBasic = new Chart(document.getElementById('appliedVsBasic').getContext('2d'),
					{
					    type: 'pie',
					    data: {
					        labels: ['Applied', 'Basic'],
					        datasets: [{
					            data: data,
					            backgroundColor: [
					                'rgba(128, 0, 0)',
					                '#ffd700',
					            ],
					            borderColor: [
					            	'#ffffff',
					                '#ffffff',
					            ],
					            borderWidth: 1
					        }]
					    },
					    options: {
					    	title: {
					    	  display: true,
					    	  text: 'Applied vs Basic'
					    	},

					        legend: {
					        	display: true
					        }
					    }
					});
			//------------------------------------No. of Classification-------------------------------------
					var psced_names = [];
					var psced_count = [];
					psced = response.psced_count;
					for( var i=0; i<response.psced_count.length; i++ ){
						psced_names[i] = psced[i]['name'];
						psced_count[i] = psced[i]['count'];
					}
					noOfClassifications = new Chart(document.getElementById('noOfClassifications').getContext('2d'), {
					    type: 'horizontalBar',
					    data: {
					      labels: psced_names,
					      datasets: [{
					        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850",
					        	"#a88132","#92a832","#34a832","#32a88c","#327da8",
					        	"#3a32a8","#7b32a8","#a8327f","#e3e08f","#8fe3bd",
					        	"#fc8c03","#8cfffb","#b48cff","#8584a1","#1f4d3e"],
					        data: psced_count
					      }]
					    },
					    options: {
					      title: {
					        display: true,
					        text: 'Number of Classifications'
					      },
					      legend: {
			    		    display: false
			    		  }
					    }
					});

			//------------------------------------Records Per Year-------------------------------------
					var recordsYear = [];
					var recordsCount = [];
					for(var i=0; i<response.records_per_year_count.length; i++){
						recordsYear[i] = response.records_per_year_count[i]['year'];
						recordsCount[i] = response.records_per_year_count[i]['count'];
					}
					recordsPerYear = new Chart(document.getElementById("recordsPerYear"), {
					  type: 'line',
					  data: {
					    labels: recordsYear,
					    datasets: [{
					        data: recordsCount,
					        label: "Records",
					        borderColor: "#3e95cd",
					        fill: false
					      }
					    ]
					  },
					  options: {
					    title: {
					      display: true,
					      text: 'Records per Year'
					    },
					    legend: {
					      display: false
					    }
					  }
					})
			//--------------------------------Classification per year--------------------------------------
					pscedYear = [];
					pscedCount = [];
					for(var i=0; i<response.psced_per_year_count.length;i++){
						pscedYear[i] = response.psced_per_year_count[i]['year'];
						pscedCount[i] = response.psced_per_year_count[i]['psced_count'];
					}
					classificationPerYear = new Chart(document.getElementById("classificationPerYear"), {
					    type: 'bar',
					    data: {
					      labels: pscedYear,
					      datasets: [
					        {
					          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
					          data: pscedCount
					        }
					      ]
					    },
					    options: {
					      legend: { display: false },
					      title: {
					        display: true,
					        text: 'Number of Classifications Per Year'
					      }
					    }
					});
			    },
			    "error": function(data){
			    	alert("error");
			    }
			});

		}
		initGraphs();
		//-------------------------refresh graph----------------------------------------
		$("#btn-graph-refresh").on("click", function(){
			initGraphs();
		});

//-------------------------------error messages---------------------------------------
		{% if import_message == 'success' %}
			Swal.fire({
			  type: 'success',
			  title: 'Import Success!',
			  showConfirmButton: true,
			})
			{% elif import_message == 'failed' %}
			Swal.fire({
			  type: 'warning',
			  title: 'Import Failed!',
			  html: 'Some rows have unexpected values or you might have imported the wrong format',
			  showConfirmButton: true,
			})
		{% endif %}

//--------------------------adjust datatables header--------------------------------
	$('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
	   $($.fn.dataTable.tables(true)).DataTable()
	      .columns.adjust();
	});

//---------------------------select/deselect all checkbox---------------------------
	$("#records-select-all").on( "click", function(e) {
		recordsTbl.rows({ page: 'current' }).select();
	});
	$("#records-deselect-all").on( "click", function(e) {
		recordsTbl.rows({ page: 'current' }).deselect();
	});
	$("#accounts-select-all").on( "click", function(e) {
		accountsTbl.rows({ page: 'current' }).select();
	});
	$("#accounts-deselect-all").on( "click", function(e) {
		accountsTbl.rows({ page: 'current' }).deselect();
	});
	</script>
{% endblock %}

{% block content %}

	<div class="container">

		{% include 'records/home_navbar.html' %}

		<div class="tab-content main-container" id="nav-tabContent">
			<div class="tab-pane fade show active " id="nav-home-records" role="tabpanel">
				<div class="main-header"></div>
				<section id="home-records" class="main-content">
					<div class="row">
						<div class="col-6">
							<h1>RECORDS</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 d-flex">
							<div>
								{% if user.role.id != 1 %}
								<a href="{% url 'records-add' %}" class="btn btn-primary" style="margin-bottom:10px"><i class="fa fa-plus fa-md"></i> ADD</a>
								{% endif %}
								{% if user.role.id > 3 %}
								<button type="button" id="btn-remove" class="btn btn-danger" style="margin-bottom:10px"><i class="fa fa-trash fa-md"></i> REMOVE</button>
							    {% endif %}
								<button type="button" class="btn btn-success" data-toggle="modal" data-target="#filter-modal" style="margin-bottom:10px"><i class="fa fa-filter fa-md"></i> FILTER</button>
							</div>
						</div>
					</div>
					{% if user.role.id > 3 %}
					<div class="row">
						<div class="col-12">
							<button type="button" class="btn btn-secondary" id="records-select-all">SELECT ALL</button>
							<button type="button" class="btn btn-secondary" id="records-deselect-all">DESELECT ALL</button>
						</div>
					</div>
					{% endif %}
					<div class="row">
						<div class="col-12">
							<table id="tbl-records" class="table table-striped table-bordered table-condensed table-hover" style="width:100%">
						        <thead>
						            <tr>
										<th></th>
										<th>ID</th>
						                <th>RESEARCH TITLE</th>
						                <th>YEAR</th>
						                <th>CLASS</th>
						                <th>PSCED</th>
						            </tr>
						        </thead>
						        <tbody>
						        </tbody>
						    </table>
						</div>
					</div>
				</section>
			</div>
			<div class="tab-pane fade" id="nav-home-graphs" role="tabpanel">
				<div class="main-header"></div>
				<section id="home-graphs" class="main-content">
					<div class="row">
						<div class="col-6">
							<h1>GRAPHS</h1>
						</div>
						<div class="col-6 d-flex justify-content-end">
							<div>
								<a id="btn-graph-refresh" class="btn btn-secondary btn-yellow-solid"><i class="fa fa-sync fa-md"></i></a>
							</div>
						</div>
					</div>
					<div class="row">
						<!-- Nav pills -->
						<div class="col-sm-12 col-lg-3">
							<ul class="nav flex-column nav-pills">
								<li class="nav-item">
									<a class="nav-link active" data-toggle="pill" href="#home">Applied vs Basic</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="pill" href="#menu1">Records per Year</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="pill" href="#menu2">Classifications per Year</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="pill" href="#menu3">No. of Classifications</a>
								</li>
							</ul>
						</div>
						<!-- Tab panes -->
						<div style="overflow-x:auto" class="col-sm-12 col-lg-9">
							<div class="tab-content">
								<div class="tab-pane container active animate__animated animate__fadeIn animate__faster" id="home">
									<canvas id="appliedVsBasic"></canvas>
								</div>
								<div class="tab-pane container animate__animated animate__fadeIn animate__faster" id="menu1">
									<canvas id="recordsPerYear"></canvas>
								</div>
								<div class="tab-pane container animate__animated animate__fadeIn animate__faster" id="menu2">
									<canvas id="classificationPerYear"></canvas>
								</div>
								<div style="min-width:700px" class="tab-pane container animate__animated animate__fadeIn animate__faster" id="menu3">
									<canvas id="noOfClassifications"></canvas>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="tab-pane fade" id="nav-home-accounts" role="tabpanel">
				<div class="main-header"></div>
				<section id="home-accounts" class="main-content">
					<div class="row">
						<div class="col-6">
							<h1>ACCOUNTS</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<button type="button" class="btn btn-secondary" id="accounts-select-all">SELECT ALL</button>
							<button type="button" class="btn btn-secondary" id="accounts-deselect-all">DESELECT ALL</button>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<table id="tbl-accounts" class="table table-striped table-bordered table-condensed table-hover" style="width:100%">
								<thead>
								<tr>
									<th></th>
									<th>ID</th>
									<th>USERNAME</th>
									<th>NAME</th>
									<th>ROLE</th>
								</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</section>
			</div>
			<div class="tab-pane fade" id="nav-home-upload" role="tabpanel">
				<div class="main-header"></div>
				<section id="home-upload" class="main-content">
					<div class="row">
						<div class="col-lg-8">
							<h1>How to migrate data from spreadsheet?</h1>
							<ol>
								<li>Follow the data entry format which can be viewed <a href="{% url 'records-download-format' %}">HERE</a>.</li>
								<li>When adding a new entry to a section, simply duplicate the record row and replace the existing
section with the new entry.</li>
								<li>The migration stops when they read a merged cell that contains END OF RECORDS.</li>
								<li>After the format is thoroughly followed, Press GENERATE to add the records.</li>
							</ol>
						</div>
						<div class="col-lg-4">
							<form id="form-import" action="{% url 'records-upload' %}" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="row">
									<div class="col-12">
										<input id="file-import" type="file" name="file" class="form-control">
									</div>
								</div>
								<div class="row">
									<div class="col-12 d-flex justify-content-end" style="margin-top:15px">
										<button id="btn-import" type="button" class="btn btn-success">GENERATE</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<!-- --------------------------------Modal--------------------------------------------- -->
	<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
			<form method="post">
				{% csrf_token %}
	    	  <div class="modal-header" style="background-color:#fff000">
	    	    <h5 class="modal-title">Filter</h5>
	    	    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	    	      <span aria-hidden="true">&times;</span>
	    	    </button>
	    	  </div>
	    	  <div class="modal-body">
	    	    <div class="container">
					<div class="row">
						<div class="col-lg-5">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" id="year_cb" name="year_cb" {% if filters.year_from is not None and filters.year_to is not None %} checked {% endif %}>
							  <label class="form-check-label" for="year_cb">
							    Year
							  </label>
							</div>
						</div>
						<div class="col-lg-3">
							<input class="form-control" placeholder="from" name="year_from" value="{{ filters.year_from }}">
						</div>
						<div class="col-lg-3">
							<input class="form-control" placeholder="to" name="year_to" value="{{ filters.year_to }}">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							{{ record_form.classification|as_crispy_field }}
						</div>
					</div>
				 	<div class="row">
						<div class="col-lg-12">
							{{ record_form.psced_classification|as_crispy_field }}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-5">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" id="author_cb">
							  <label class="form-check-label" for="author_cb">
							    Author
							  </label>
							</div>
						</div>
						<div class="col-lg-7">
							<input class="form-control">
						</div>
					</div>
			  		<div class="row">
						<div class="col-lg-5">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" id="conference_cb">
							  <label class="form-check-label" for="conference_cb">
							    Conference Title
							  </label>
							</div>
						</div>
						<div class="col-lg-7">
							<input class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-5">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" name="publication_cb" id="publication_cb" {% if filters.publication is not None %} checked {% endif %}>
							  <label class="form-check-label" for="publication_cb">
							    Publication Name
							  </label>
							</div>
						</div>
						<div class="col-lg-7">
							<input class="form-control" name="publication" value="{{ filters.publication }}">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-5">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" id="budget_cb">
							  <label class="form-check-label" for="budget_cb">
							    Total Budget
							  </label>
							</div>
						</div>
						<div class="col-lg-3">
							<input class="form-control" placeholder="min">
						</div>
						<div class="col-lg-3">
							<input class="form-control" placeholder="max">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-5">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" id="collaborator_cb">
							  <label class="form-check-label" for="collaborator_cb">
							    Collaborator
							  </label>
							</div>
						</div>
						<div class="col-lg-7">
							<input class="form-control">
						</div>
					</div>
				</div>
	    	  </div>
	    	  <div class="modal-footer">
				  <input type="hidden" value="true" name="is_filtered"/>
	    	    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	    	    <button type="submit" id="btn-filter-save" class="btn btn-primary">Apply</button>
	    	  </div>
				</form>
	    	</div>
	  </div>
	</div>
{% endblock %}
