<nav>
	<div class="nav nav-tabs" role="tablist">
		<a class="nav-item nav-link nav-main title-and-abstract active" data-toggle="tab" href="#nav-title-and-abstract" role="tab">Title and Abstract</a>
		<a class="nav-item nav-link nav-main author" data-toggle="tab" href="#nav-authors-and-categories" role="tab">Authors and Categories</a>
		<a class="nav-item nav-link nav-main conference" data-toggle="tab" href="#nav-conference" role="tab">Conference</a>
		<a class="nav-item nav-link nav-main publication" data-toggle="tab" href="#nav-publication" role="tab">Publication</a>
		<a class="nav-item nav-link nav-main budget" data-toggle="tab" href="#nav-budget" role="tab">Budget</a>
		<a class="nav-item nav-link nav-main collaboration" data-toggle="tab" href="#nav-collaboration" role="tab">Collaboration</a>
	</div>
</nav>
