<nav>
	<div class="nav nav-tabs" role="tablist" id="classification-nav">
		<a class="nav-item nav-link nav-main title-and-abstract active d-none d-lg-block" data-toggle="tab" href="#nav-title-and-abstract" role="tab" id="nav-item-1" onclick="classificationClick('1')">Title and Abstract</a>
		<a class="nav-item nav-link nav-main author d-none d-lg-block" data-toggle="tab" href="#nav-authors-and-categories" role="tab" id="nav-item-2" onclick="classificationClick('2')">Authors and Categories</a>
		<a class="nav-item nav-link nav-main conference d-none d-lg-block" data-toggle="tab" href="#nav-conference" role="tab" id="nav-item-3" onclick="classificationClick('3')">Conference</a>
		<a class="nav-item nav-link nav-main publication d-none d-lg-block" data-toggle="tab" href="#nav-publication" role="tab" id="nav-item-4" onclick="classificationClick('4')">Publication</a>
		<a class="nav-item nav-link nav-main budget d-none d-lg-block" data-toggle="tab" href="#nav-budget" role="tab" id="nav-item-5" onclick="classificationClick(5)">Budget</a>
		<a class="nav-item nav-link nav-main collaboration d-none d-lg-block" data-toggle="tab" href="#nav-collaboration" role="tab" id="nav-item-6" onclick="classificationClick('6')">Collaboration</a>


		<a class="nav-item nav-link nav-main author col-12 d-lg-none nav-copy" data-toggle="tab" href="#" id="nav-item-c2" onclick="classificationClick('2',true)">Authors and Categories</a>
		<a class="nav-item nav-link nav-main conference col-12 d-lg-none nav-copy" data-toggle="tab" href="#" id="nav-item-c3" onclick="classificationClick('3',true)">Conference</a>
		<a class="nav-item nav-link nav-main publication col-12 d-lg-none nav-copy" data-toggle="tab" href="#" id="nav-item-c4" onclick="classificationClick('4',true)">Publication</a>
		<a class="nav-item nav-link nav-main budget col-12 d-lg-none nav-copy" data-toggle="tab" href="#" id="nav-item-c5" onclick="classificationClick('5',true)">Budget</a>
		<a class="nav-item nav-link nav-main collaboration col-12 d-lg-none nav-copy" data-toggle="tab" href="#" id="nav-item-c6" onclick="classificationClick('6',true)">Collaboration</a>
		<a class="nav-item nav-link nav-main title-and-abstract active col-12 d-lg-none nav-copy" data-toggle="tab" href="#" id="nav-item-c1" onclick="classificationClick('1', true)">Title and Abstract</a>
	</div>
</nav>
