{% extends 'ipams/base.html' %}

{% block footer %}
<script>
		var authorCount = 1;
		var conferenceCount = 1;
		var budgetCount = 1;
		var collaborationCount = 1;

		function removeAuthor(id=0){
			authorCount--;
			$("#author-"+id).remove();
		}

		function removeConference(id=0){
			conferenceCount--;
			$("#conference-"+id).remove();
		}

		function removeBudget(id=0){
			budgetCount--;
			$("#budget-"+id).remove();
		}

		function removeCollaboration(id=0){
			collaborationCount--;
			$("#collaboration-"+id).remove();
		}

		$("#add-author-btn").on("click",function(){
			authorCount++;
			$("#author-rows").append('<div class="row" id="author-'+authorCount+'"><div class="col-7"><input name="author_names[]" placeholder="Name" class="form-control" type="text"></div><div class="col-3"><select name="author_roles[]" class="form-control"> {% for author_role in author_roles %}<option value="{{ author_role.pk }}">{{ author_role.name }}</option> {% endfor %} </select></div><div class="col-2"><button class="btn btn-danger" type="button" onclick="removeAuthor('+authorCount+')">REMOVE</button></div></div>');
		});

		$("#add-conference-btn").on("click",function(){
			conferenceCount++;
			$("#conference-rows").append('<div class="row" id="conference-'+conferenceCount+'"><div class="col-2"><select name="conference_levels[]" class="form-control"> {% for conference_level in conference_levels %} <option value="{{ conference_level.pk }}">{{ conference_level.name }}</option> {% endfor %} </select></div><div class="col-3"><input type="text" placeholder="Title" name="conference_titles[]" class="form-control"></div><div class="col-2"><input type="date" name="conference_dates[]" class="form-control"></div><div class="col-3"><input type="text" placeholder="Venue" name="conference_venues[]" class="form-control"></div><div class="col-2"><button class="btn btn-danger" type="button" onclick="removeConference('+conferenceCount+')">REMOVE</button></div></div>');
		});

		$("#add-budget-btn").on("click",function(){
			budgetCount++;
			$("#budget-rows").append('<div class="row" id="budget-'+budgetCount+'"><div class="col-2"><select name="budget_types[]" class="form-control"> {% for budget_type in budget_types %} <option value="{{ budget_type.pk }}">{{ budget_type.name }}</option> {% endfor %} </select></div><div class="col-4"><input type="number" name="budget_allocations[]" placeholder="Budget Allocation" class="form-control"></div><div class="col-4"><input type="text" name="funding_sources[]" placeholder="Funding Source" class="form-control"></div><div class="col-2"><button class="btn btn-danger" type="button" onclick="removeBudget('+budgetCount+')">REMOVE</button></div></div>');
		});

		$("#add-collaboration-btn").on("click",function(){
			collaborationCount++;
			$("#collaboration-rows").append('<div class="row" id="collaboration-'+collaborationCount+'"><div class="col-4"><input type="text" name="industries[]" class="form-control" placeholder="Other Industry"></div><div class="col-4"><input type="text" name="institutions[]" class="form-control" placeholder="Institution"></div><div class="col-2"><select name="collaboration_types[]" class="form-control"> {% for collaboration_type in collaboration_types %} <option value="{{ collaboration_type.pk }}">{{ collaboration_type.name }}</option> {% endfor %} </select></div><div class="col-2"><button class="btn btn-danger" type="button" onclick="removeCollaboration('+collaborationCount+')">REMOVE</button></div></div>');
		});

	</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top:30px; margin-bottom:30px">
            <a href="{% url 'records-index' %}">Records</a> / {{ record.title }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <a href="{% url 'records-update' record_id=record.pk %}" class="btn btn-warning">Update</a>
        </div>
    </div>
    <form method="post" action="{% url 'records-add' %}" id="form-record">
        {% csrf_token %}
        {% include 'records/record_navbar.html' %}
        <div class="tab-content" id="nav-tabContent">
            <div class="tabheaher">&nbsp;</div>
           <!--------------------------------------TITLE AND ABSTRACT---------------------------------------------------->
            <div class="tab-pane fade show active" id="nav-title-and-abstract" role="tabpanel">
                <section id="title-and-abstract">
                    {% include 'records/view_record/title_and_abstract.html' %}
                </section>
            </div>
           <!------------------------------------AUTHORS AND CATEGORIES---------------------------------------------------->
            <div class="tab-pane fade" id="nav-authors-and-categories" role="tabpanel">
                <section id="authors-and-categories">
                    {% include 'records/view_record/authors_and_categories.html' %}
                </section>
            </div>
           <!------------------------------------CONFERENCE---------------------------------------------------->
            <div class="tab-pane fade" id="nav-conference" role="tabpanel">
                <section id="conference">
                    {% include 'records/view_record/conference.html' %}
                </section>
            </div>
           <!------------------------------------PUBLICATION---------------------------------------------------->
            <div class="tab-pane fade" id="nav-publication" role="tabpanel">
                <section id="publication">
                    {% include 'records/view_record/publication.html' %}
                </section>
            </div>
           <!------------------------------------BUDGET---------------------------------------------------->
            <div class="tab-pane fade" id="nav-budget" role="tabpanel">
                <section id="budget">
                    {% include 'records/view_record/budget.html' %}
                </section>
            </div>
           <!------------------------------------COLLABORATION---------------------------------------------------->
            <div class="tab-pane fade" id="nav-collaboration" role="tabpanel">
                <section id="collaboration">
                    {% include 'records/view_record/collaboration.html' %}
                </section>
            </div>
            <div class="row" style="margin-bottom:30px">
                <div class="col-12 d-flex justify-content-end">
                    <a type="button" href="{% url 'records-index' %}" class="btn btn-warning" style="margin-top: 30px" id="btn-back">Back to Records</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
