{% extends 'ipams/base.html' %}

{% block footer %}
<script>
		var authorCount = 1;
		var conferenceCount = 1;
		var budgetCount = 1;
		var collaborationCount = 1;

		function removeAuthor(id=0){
			authorCount--;
			$("#author-"+id).remove();
		}

		function removeConference(id=0){
			conferenceCount--;
			$("#conference-"+id).remove();
		}

		function removeBudget(id=0){
			budgetCount--;
			$("#budget-"+id).remove();
		}

		function removeCollaboration(id=0){
			collaborationCount--;
			$("#collaboration-"+id).remove();
		}

		$("#add-author-btn").on("click",function(){
			authorCount++;
			$("#author-rows").append('<div class="row" id="author-'+authorCount+'"><div class="col-7"><input name="author_names[]" placeholder="Name" class="form-control" type="text"></div><div class="col-3"><select name="author_roles[]" class="form-control"> {% for author_role in author_roles %}<option value="{{ author_role.pk }}">{{ author_role.name }}</option> {% endfor %} </select></div><div class="col-2"><button class="btn btn-danger" type="button" onclick="removeAuthor('+authorCount+')">REMOVE</button></div></div>');
		});

		$("#add-conference-btn").on("click",function(){
			conferenceCount++;
			$("#conference-rows").append('<div class="row" id="conference-'+conferenceCount+'"><div class="col-2"><select name="conference_levels[]" class="form-control"> {% for conference_level in conference_levels %} <option value="{{ conference_level.pk }}">{{ conference_level.name }}</option> {% endfor %} </select></div><div class="col-3"><input type="text" placeholder="Title" name="conference_titles[]" class="form-control"></div><div class="col-2"><input type="date" name="conference_dates[]" class="form-control"></div><div class="col-3"><input type="text" placeholder="Venue" name="conference_venues[]" class="form-control"></div><div class="col-2"><button class="btn btn-danger" type="button" onclick="removeConference('+conferenceCount+')">REMOVE</button></div></div>');
		});

		$("#add-budget-btn").on("click",function(){
			budgetCount++;
			$("#budget-rows").append('<div class="row" id="budget-'+budgetCount+'"><div class="col-2"><select name="budget_types[]" class="form-control"> {% for budget_type in budget_types %} <option value="{{ budget_type.pk }}">{{ budget_type.name }}</option> {% endfor %} </select></div><div class="col-4"><input type="number" name="budget_allocations[]" placeholder="Budget Allocation" class="form-control"></div><div class="col-4"><input type="text" name="funding_sources[]" placeholder="Funding Source" class="form-control"></div><div class="col-2"><button class="btn btn-danger" type="button" onclick="removeBudget('+budgetCount+')">REMOVE</button></div></div>');
		});

		$("#add-collaboration-btn").on("click",function(){
			collaborationCount++;
			$("#collaboration-rows").append('<div class="row" id="collaboration-'+collaborationCount+'"><div class="col-4"><input type="text" name="industries[]" class="form-control" placeholder="Other Industry"></div><div class="col-4"><input type="text" name="institutions[]" class="form-control" placeholder="Institution"></div><div class="col-2"><select name="collaboration_types[]" class="form-control"> {% for collaboration_type in collaboration_types %} <option value="{{ collaboration_type.pk }}">{{ collaboration_type.name }}</option> {% endfor %} </select></div><div class="col-2"><button class="btn btn-danger" type="button" onclick="removeCollaboration('+collaborationCount+')">REMOVE</button></div></div>');
		});

        function classificationClick(id, copy=false){
            if(copy){
                $("#nav-item-"+id).click();
                $("#nav-item-c"+id).addClass("active");
            }
            else{
                $(".nav-copy").removeClass("active").removeClass("show");
                $(".tab-pane").removeClass("active").removeClass("show");
                $(".nav-item").removeClass("active");

                $("#nav-item-"+id).addClass("active");
                $("#nav-item-c"+id).addClass("active");
                $("#nav-item-c"+id).next().addClass("active").addClass("show").addClass(" animate__animated animate__fadeIn animate__faster");
            }
        }
	</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top:30px; margin-bottom:30px">
            <a href="{% url 'records-index' %}">Records</a> / {{ record.title }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <a href="#" class="btn btn-warning">Decline</a>
            <a href="#" class="btn btn-warning">Approve</a>
        </div>
    </div>
    <form method="post" action="{% url 'records-add' %}" id="form-record">
        {% csrf_token %}
        {% include 'records/record_navbar.html' %}
        <div class="tab-content main-container" id="nav-tabContent">

           <!--------------------------------------TITLE AND ABSTRACT---------------------------------------------------->

            <a class="nav-item nav-link nav-main title-and-abstract active col-12 d-lg-none nav-copy" data-toggle="tab" href="#" id="nav-item-c1" onclick="classificationClick('1', true)">Title and Abstract</a>
            <div class="tab-pane fade show active" id="nav-title-and-abstract" role="tabpanel" style="background-color:white">
                <div class="main-header title-and-abstract"></div>
                <section id="title-and-abstract" class="main-content">
                    {% include 'records/view_record/title_and_abstract.html' %}
                </section>
            </div>
           <!------------------------------------AUTHORS AND CATEGORIES---------------------------------------------------->

            <a class="nav-item nav-link nav-main author col-12 d-lg-none nav-copy" data-toggle="tab" href="#" id="nav-item-c2" onclick="classificationClick('2',true)">Authors and Categories</a>
            <div class="tab-pane fade" id="nav-authors-and-categories" role="tabpanel">
                <div class="main-header author"></div>
                <section id="authors-and-categories" class="main-content">
                    {% include 'records/view_record/authors_and_categories.html' %}
                </section>
            </div>
           <!------------------------------------CONFERENCE---------------------------------------------------->

            <a class="nav-item nav-link nav-main conference col-12 d-lg-none nav-copy" data-toggle="tab" href="#" id="nav-item-c3" onclick="classificationClick('3',true)">Conference</a>
            <div class="tab-pane fade" id="nav-conference" role="tabpanel">
                <div class="main-header conference"></div>
                <section id="conference" class="main-content">
                    {% include 'records/view_record/conference.html' %}
                </section>
            </div>
           <!------------------------------------PUBLICATION---------------------------------------------------->

            <a class="nav-item nav-link nav-main publication col-12 d-lg-none nav-copy" data-toggle="tab" href="#" id="nav-item-c4" onclick="classificationClick('4',true)">Publication</a>
            <div class="tab-pane fade" id="nav-publication" role="tabpanel">
                <div class="main-header publication"></div>
                <section id="publication" class="main-content">
                    {% include 'records/view_record/publication.html' %}
                </section>
            </div>

           <!------------------------------------BUDGET---------------------------------------------------->

            <a class="nav-item nav-link nav-main budget col-12 d-lg-none nav-copy" data-toggle="tab" href="#" id="nav-item-c5" onclick="classificationClick('5',true)">Budget</a>
            <div class="tab-pane fade" id="nav-budget" role="tabpanel">
                <div class="main-header budget"></div>
                <section id="budget" class="main-content">
                    {% include 'records/view_record/budget.html' %}
                </section>
            </div>
           <!------------------------------------COLLABORATION---------------------------------------------------->

            <a class="nav-item nav-link nav-main collaboration col-12 d-lg-none nav-copy" data-toggle="tab" href="#" id="nav-item-c6" onclick="classificationClick('6',true)">Collaboration</a>
            <div class="tab-pane fade" id="nav-collaboration" role="tabpanel">
                <div class="main-header collaboration"></div>
                <section id="collaboration" class="main-content">
                    {% include 'records/view_record/collaboration.html' %}
                </section>
            </div>

        </div>
        <div class="row" style="margin-bottom:30px">
            <div class="col-12 d-flex justify-content-end">
                <a type="button" href="{% url 'records-index' %}" class="btn btn-warning" style="margin-top: 30px" id="btn-back">Back to Records</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
