            <div class="row">
                <div class="col-12">
                    <h3>TITLE AND ABSTRACT</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text" name="title" class="form-control" placeholder="title" value="{{ record.title }}" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text" name="year_accomplished" class="form-control" placeholder="year accomplished" value="{{ record.year_accomplished }}" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text" name="abstract" class="form-control" placeholder="abstract" value="{{ record.abstract }}" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'records-download-abstract' record_id=record.pk %}">{{ record.abstract_file }}</a>
                    <a href="{% url 'records-download-abstract' record_id=record.pk %}">download abstract: </a>
                </div>
            </div>
